#root {
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.wrapper {
  flex-grow: 1;
}
.custom_btn {
  background-color: #ffb600;
  text-decoration: none;
  font-size: 15px;
  color: #313131;
  padding: 5px 10px;
  border: 0;
}

footer {
  margin-top: auto;
}
