@media screen and (max-width: 990px) {
    .product__grid__left, .product__grid__right {
        width: 100%;
    }
    .catIcon {
        display: inline-block;
    }
    .category__wraper {
        display: none;
    }
}
@media screen and (max-width: 575px) {
    .product__details__row img {
        height: 350px;
    }
    .product__details__inner {
        margin-top: 30px;
    }
    .product__details__inner h1 {
        font-size: 26px;
    }
}
@media screen and (max-width: 390px) {
    .card__wrap {
        width: 100% !important;
    }
    .card {
        width: 100% !important;
    }
}
@media screen and (max-width: 360px) {
    .navbar > .container {
        flex-direction: column;
        text-align: center;
    }
    .navbar-brand {
        width: 100%;
    }
}
